<div class="col-md-12 center-block">
  <div id="customer-opinion-carousel" class="carousel slide" data-ride="carousel">
    <ol class="carousel-indicators">
      <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
      <li data-target="#carousel-example-generic" data-slide-to="1"></li>
      <li data-target="#carousel-example-generic" data-slide-to="2"></li>
      <li data-target="#carousel-example-generic" data-slide-to="3"></li>
      <li data-target="#carousel-example-generic" data-slide-to="4"></li>
    </ol>

    <div class="carousel-inner" role="listbox">
      <div class="item active">
        <div class="carousel-caption">
          <div class="opinion-text">
            <h4>Consectetur adipiscing elit. Ut fermentum condimentum massa, in sagittis dolor feugiat id. Morbi pharetra elit non lorem elementum iaculis.</h4>
            <%= image_tag 'avatar', class: 'img-circle opinion-user-avatar' %><span class="opinion-user">Patryk Wasik, </span><span class="opinion-user-title">Graphic designer at SYMU</span>
          </div>
        </div>
      </div>

      <div class="item">
        <div class="carousel-caption">
          <div class="opinion-text">
            <h4>Consectetur adipiscing elit. Ut fermentum condimentum massa, in sagittis dolor feugiat id. Morbi pharetra elit non lorem elementum iaculis.</h4>
            <%= image_tag 'avatar', class: 'img-circle opinion-user-avatar' %><span class="opinion-user">Christopher O'Driscoll,</span> <span class="opinion-user-title">Lead Developer at Mondo Labs</span>
          </div>
        </div>
      </div>

      <div class="item">
        <div class="carousel-caption">
          <div class="opinion-text">
            <h4>Consectetur adipiscing elit. Ut fermentum condimentum massa, in sagittis dolor feugiat id. Morbi pharetra elit non lorem elementum iaculis.</h4>
            <%= image_tag 'avatar', class: 'img-circle opinion-user-avatar' %><span class="opinion-user">Danielle Alva,</span> <span class="opinion-user-title">Lead UI/UX Designer at Mondo Labs</span>
          </div>
        </div>
      </div>
      <div class="item">
        <div class="carousel-caption">
          <div class="opinion-text">
            <h4>Consectetur adipiscing elit. Ut fermentum condimentum massa, in sagittis dolor feugiat id. Morbi pharetra elit non lorem elementum iaculis.</h4>
            <%= image_tag 'avatar', class: 'img-circle opinion-user-avatar' %><span class="opinion-user">Christopher Vitale,</span> <span class="opinion-user-title">Sr. Digital Project Manager at Mondo Labs</span>
          </div>
        </div>
      </div>
      <div class="item">
        <div class="carousel-caption">
          <div class="opinion-text">
            <h4>Consectetur adipiscing elit. Ut fermentum condimentum massa, in sagittis dolor feugiat id. Morbi pharetra elit non lorem elementum iaculis.</h4>
            <%= image_tag 'avatar', class: 'img-circle opinion-user-avatar' %><span class="opinion-user">Sarah Nordland,</span> <span class="opinion-user-title">Career Agent at Mondo Labs</span>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>