<div class="container">
  <div class="row space-row">
    <div class="col-md-12 text-xs-center">
      <h2><span class="selus-title">Selus</span> with a Lot of Features</h2>
    </div>
  </div>

  <div class="row space-row">

    <div class="col-sm-4">
      <%= image_tag "speaker" %>
      <div class="details">
        <h3>Lorem ipsum dolor sit amet</h3>
        <p class="details">
          Consectur adipiscin elif, ut femetun condimentum massa. in sagitis dolor fregul morbi pharett eli non lorem elementun aculis.
        </p>
      </div>

      <%= image_tag "activity" %>
      <div class="details">
        <h3>Lorem ipsum dolor sit amet</h3>
        <p class="details">
          Consectur adipiscin elif, ut femetun condimentum massa. in sagitis dolor fregul morbi pharett eli non lorem elementun aculis.
        </p>
      </div>
    </div>

    <div class="col-sm-4">
      <%= image_tag "phone", class: 'img-responsive'%>
    </div>

    <div class="col-sm-4">
      <%= image_tag "headphones_sm" %>
      <div class="details">
        <h3>Lorem ipsum dolor sit amet</h3>
        <p class="details">
          Consectur adipiscin elif, ut femetun condimentum massa. in sagitis dolor fregul morbi pharett eli non lorem elementun aculis.
        </p>
      </div>

      <%= image_tag "cd" %>
      <div class="details">
        <h3>Lorem ipsum dolor sit amet</h3>
        <p class="details">
          Consectur adipiscin elif, ut femetun condimentum massa. in sagitis dolor fregul morbi pharett eli non lorem elementun aculis.
        </p>
      </div>
    </div>
  </div>

  <div class="row space-row">
    <div class="col-sm-6">
      <%= image_tag "feature-icon" %>
      <div class="details">
        <h2>Lorem ipsum dolor sit amet</h2>
        <p class="details">
          Consectur adipiscin elif, ut femetun condimentum massa. in sagitis dolor fregul morbi pharett eli non lorem elementun aculis.
        </p>
      </div>
    </div>

    <div class="col-sm-6">
      <%= image_tag "graphic"%>
    </div>
  </div>

</div>