<div class="container">
  <%= render partial: 'navbar' %>
  <%= render partial: 'header' %>
</div>

  <%= render partial: 'screens' %>
  <%= render partial: 'music' %>
  <%= render partial: 'features' %>
  <%= render partial: 'carousel' %>

  <%= render partial: 'discover' %>